@font-face {
    font-family: 'body-text';
    src: url('C:/Users/Sergey/Desktop/automatization-alabuga/web/sourse/fonts/Montserrat-Ace-Bold.otf');}


.border_div{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    padding-top: 25px;
    border: 0px solid #bdbdbd;
    width: 500px;
    height: 250px;
    border-radius: 16px;
    box-shadow: 0 0 10px 5px rgb(204, 63, 63);
}

.name {
    font-family: 'mainfont';
    font-size: 24px;
    color: #262c40;
}

.text-if {
    font-family: "body-text";
    color: #2e2e2e;
    font-size: 50px;
    margin-left: 10px;
}


.text-ds {
    font-family: "body-text";
    color: #2e2e2e;
    padding-top: 10px;
    font-size: 25px;
    margin-left: 10px;
}
.phone_div {
    display: flex;
}
.mail_div {
    display: flex;
    padding-top: 10px;
}