@font-face {
    font-family: 'headerfont';
    src: url('C:/Users/Sergey/Desktop/automatization-alabuga/web/sourse/fonts/Salina-Trial-Regular.otf');}
@font-face {
    font-family: 'logButtonFont';
    src: url('C:/Users/Sergey/Desktop/automatization-alabuga/web/sourse/fonts/Salina-Trial-Medium.otf');}

@font-face {
    font-family: 'body-text';
    src: url('C:/Users/Sergey/Desktop/automatization-alabuga/web/sourse/fonts/Montserrat-Ace-Bold.otf');}
    
.main-div{
    background-color: #cce0ed;

}
.header{
    display: flex;
    width: 100%;
    height: 50px;
    justify-self:center;
}
.Header-LogoButton {
    text-align: center;
    font-family: "calibri";
    font-size: 50px;
    color: #39f;
}
.Header-Button {
    text-align: center;
    margin-top: 8px;
    padding: 8px;
    
    font-family: "logButtonFont";
    font-size: 26px;
    
    color: #2e2e2e;
}
.Header-MainButton{
    margin-left: 450px;
    margin-bottom: 15px;

}
.Header-DescriptionButton{
    margin-left: 15px;
}
.Header-LoginButton{
    height: 30px;
    width: 120px;
    font-family: 'logButtonFont';
    font-size: 19px;
    margin-left: 38px;
    padding: 8px;
    text-align: center;
    box-shadow: 0 0 3px 1px #f6cdcd;
    background-color: #f6cdcd;
    border-width: 1px;
    border-radius: 23px;
}


.div-body{
    display: flex;
    top: 23px;
    margin-left: 75px;
    border: 1px;
    width: 80%;
}

.body-logo{
    font-family: "calibri";
    font-size: 212px;
    color: #39f;
}
.body-logo-text{
    margin-left: 30px;
    margin-top: 52px;
    font-family: "body-text";
    font-size: 45px;
    color: #2e2e2e;
}
.body-tytle-1 {
    font-family: "body-text";
    font-size: 60px;
    margin: auto;
    margin-left: 488px;
    color: #2e2e2e;
}

.for-who-div {
    width: 450px;
    height: 300px;
}

.body-dscription{
    font-family: "body-text";
    font-size: 23px;
    margin-left: 113px;
    width: 80%;
    color: #2e2e2e;

}
ul{
    list-style-type: none;
}
.item-li{
    font-family: "body-text";
    font-size: 23px;
    margin-left: 113px;
    width: 80%;
    color: #2e2e2e;

}